
h1{
    font-family: 'Courier New', Courier, monospace;
    font-display: center;
    color: black;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color:rgb(241, 19, 130)
}
h3{
    font-family:'Courier New', Courier, monospace;
    font-size:large;
    color:blue
}
p{
    line-height: 1.5;
}
img{
    border: 5px greenyellow;
    padding: 10px;
    margin: 20px;
    border-radius: 30px;
}
li{
    display: inline-block;
    margin-left: 50px;
}